Schreib immer in Deutsch.
Vermeide Emojis
Speicher bei txt, png, md und mmd dateien immer eine kopie in den ordner
Wenn ich eine Frage stelle, beantworte sie im ersten Wort oder Satz. Gehe explizit auf meien Frage ein.


 Der Standartbrowser ist Firefox.


