:root {
  --color-1: #328d97;
  --color-2: #af8ed9;
  --color-3: #5091c5;
  --color-4: #aad582;
  --color-5: #96bf40;
  --color-6: #a939aa;
  --color-7: #cb6390;
}

/* Toggle Switch Styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 2px; /* Angleichen an Button-Margin */
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 34px;
}

.toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in-out;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.toggle-switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4CAF50; /* Gruen fuer ON */
    color: #FFFFFF;
}

.toggle-switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #CCCCCC; /* Grau fuer OFF */
    color: #333333;
    text-align: right;
}

.toggle-switch-switch {
    display: block;
    width: 24px;
    height: 24px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px; /* Startposition fuer OFF */
    border: 2px solid #999999;
    border-radius: 34px;
    transition: all 0.3s ease-in-out;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px; /* Endposition fuer ON */
    background-color: #4CAF50; /* Gruen fuer ON */
}

.toggle-switch-text {
    position: absolute;
    left: 70px; /* Position neben dem Schalter */
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #333; /* Dunkle Farbe fuer den Text */
    white-space: nowrap; /* Verhindert Zeilenumbruch */
}

/* Space-saving styles for markdown content */
.markdown-body {
    font-size: 14px;
    line-height: 1.4;
}

.markdown-body h1 {
    font-size: 1.6em;
}

.markdown-body h2 {
    font-size: 1.4em;
}

.markdown-body h3 {
    font-size: 1.2em;
}

.markdown-body h4 {
    font-size: 1.1em;
}

.markdown-body h5,
.markdown-body h6 {
    font-size: 1em;
}
